
#subLogo {
    margin-right: 1%; 
    float: left;
}

/* @media screen and (max-width: 625px) {
    
    #subLogo {
        display: none;
    }
    
    #subLogoHidden {
        display: inline;
    }
    
}*/

